#frm{
  display: flex;
  flex-direction: column; 
  justify-content: flex-center; 
  text-align: center;
  margin: auto;
  color: white;  
  font-weight: bold;
  font-size: 1.7em;
  padding: 20px;
  border-radius:4px;
  border: 2px solid;
  background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
  width: 80%;
}

#pname, #pqty, #price {
   display: flex;
   justify-content: flex-center;
   color: white;
   background: -webkit-linear-gradient(top, #7abcff 40%,#60abf8 60%,#4096ee 80%);
   font-family: calibri;
   text-align: center;
}

input {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    font-size: 1.2em;
}

button {
    font-family: calibri;
    text-align: center;
    position: relative;
    margin: 0 auto;
    color: white;
    size: 1.6em;
    border: 2px solid black;
    border-radius: 4px;
    width: 40%;
    font-size: 1.2em;
    background: -webkit-linear-gradient(top, 
    #7abcff 0%,#60abf8 44%,#4096ee 100%);
    cursor:pointer;
    transition: all 0.2s linear;
}

button:hover{
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

#cart{
  display: flex;
  flex-direction: column; 
  justify-content: flex-center; 
  text-align: center;
  margin: 0 auto;    
  margin-top: 30px;
  padding: 20px;
  border: 2px solid;
  background: -webkit-linear-gradient(top, 
    #7abcff 0%,#60abf8 44%,#4096ee 100%); 
  width: 80%;
}

th, td, tr{
  border-radius:4px;
  border: 2px solid black;
  color: white;  
  font-weight: bold;
  font-size: 1em;
  padding: 4px;
  word-wrap:break-word
}

#sarlanga{
    border: none;
}

#delete{
    font-family: calibri;
    text-align: center;
    position: relative;
    margin: 0 auto;
    color: white;
    size: 100%;
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
    background: -webkit-linear-gradient(top, 
    #7abcff 0%,#60abf8 44%,#4096ee 100%);
    cursor:pointer;
    transition: all 0.2s linear;
}

table{
    table-layout: fixed;
}